@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  overflow-x: hidden;
}
.App{
  font-family: 'Poppins', sans-serif;
}


/*------------------------Sidebar ----------------------*/
.ant-layout-sider{
  min-width: 250px !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0, 46, 208,.1) !important;
  color: #002ED0;
  border-radius: 5px;
  border: 0 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected svg{
  color: #002ED0 !important;
}
.ant-menu-item-selected a {
  color: #002ED0 !important;
}
.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0 !important;
}
.ant-menu-item a:hover {
  color: #002ED0 !important;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
  border-right: 0 !important;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active:not(:first-child), .ant-menu-light .ant-menu-item-only-child:not(:first-child) .ant-menu-submenu-title:not(:first-child):hover {
  background-color: rgba(0, 46, 208,.1) !important;
  color: #002ED0 !important;
  border-radius: 5px;
}
.ant-menu .menu-header:hover, .ant-menu-item .menu-header:hover{
  background: #F1F2F7 !important;
  color: #000 !important;
}

/*-----------------Charts Custom Style---------------------- */
.totalChart canvas {
  height: 200px !important;
}
.recharts-cartesian-axis-tick-line{
  display: none;
}
.recharts-layer line{
  stroke: #ddd;
}
.recharts-layer .recharts-line-dots{
  display: none;
}
.recharts-layer .recharts-line-dots circle{
  stroke-width: 5 !important;
}
.recharts-line path{
  stroke-width: 2.5 !important;
}
.recharts-layer path:hover circle{
  display: block;
}
.recharts-cartesian-axis-tick-line text{
  color: #eee !important;
}
 .recharts-cartesian-grid-vertical, .recharts-yAxis.yAxis line{
  display: none;
}
.recharts-cartesian-grid-horizontal line, .recharts-xAxis.xAxis line{
  stroke: #eee;
  stroke-width: .8px;
}
.total-chart .recharts-wrapper{
  margin-right: 5px !important;
  margin-left: auto;
}
.dailychart canvas{
  height: 180px !important;
  display: flex;
  flex-direction: column-reverse;
}
.dailychart div{
  position: relative;
  width: 340px;
  top: 0;
  left: -33px;
}
.g2-tooltip{
  width: 35% !important;
  left: 133px !important;
  height: 72px !important;
}

.header{
  box-shadow: 5px 10px 5px 50px black !important;
  border-bottom: .1px solid rgba(0,0,0,0.1);
  z-index: 50;
}