@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.App{
  font-family: 'Poppins', sans-serif;
}
.ant-layout-sider{
  min-width: 250px !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0, 46, 208,.1) !important;
  color: #002ED0;
  border-radius: 5px;
  border: 0 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected svg{
  color: #002ED0;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
  border-right: 0 !important;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
  background-color: rgba(0, 46, 208,.1) !important;
  color: #002ED0 !important;
  border-radius: 5px;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover .ant-menu-item svg {
  color: #002ED0 !important;
}